html,
body {
  margin: 0;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #484848;
}

#Navigation {
  width: 100%;
  margin: 0;
}

#listingContainer {
  display: flex;
  width: fit-content;
  margin: auto;
}

#Details {
  flex: 1;
  margin-right: 0;
}

#book {
  width: 376px;
  margin: 1rem;
}

.sticky {
  position: fixed;
  top: 1rem;
}

@media (max-width: 1123px) {
  #book {
    width: 0;
  }
  .sticky {
    top: auto;
  }
}
