html,
body {
  margin: 0;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #484848;
}

#Navigation {
  width: 100%;
  margin: 0;
}

#listingContainer {
  display: flex;
  width: fit-content;
  margin: auto;
}

#infoContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 600px;
  margin: 1rem 4rem 4rem auto;
}

#Reviews {
  margin: 2rem 0 0;
}

#book {
  width: 376px;
  margin: 1rem;
}

.sticky {
  position: fixed;
  top: 1rem;
}

@media (max-width: 1123px) {
  #book {
    width: 0;
  }
  #infoContainer {
    margin: 1rem auto 10rem;
  }
  .sticky {
    top: auto;
  }
}

@media (max-width: 640px) {
  #infoContainer {
    margin: 1rem 20px 10rem;
  }
}
